{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="float-end">
        <button type="submit" form="form-review" data-bs-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="bi bi-floppy"></i></button>
        <a href="{{ cancel }}" data-bs-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-secondary"><i class="bi bi-arrow-left"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div role="alert" class="alert alert-danger alert-dismissible"><i class="bi bi-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    {% endif %}
    <div class="card">
      <div class="card-header">
        <h3 class="card-title mb-0"><i class="bi bi-pencil-square"></i> {{ text_form }}</h3>
      </div>
      <div class="card-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-review" class="form-horizontal">
          {{ form({type: 'text', name: 'author', value: author, label: entry_author, placeholder: entry_author, id: 'input-author', required: 1, error: error_author}) }}

          {{ form({type: 'textarea', name: 'text', value: text, label: entry_text, placeholder: entry_text, id: 'input-text', rows: 8, required: 1, error: error_text}) }}

          {{ form({type: 'radio', name: 'rating', value: rating, label: entry_rating, id: 'input-rating', required: 1, inline: 1, options: [[1, 2, 3, 4, 5], [1, 2, 3, 4, 5]], error: error_rating}) }}

          {% set date_added_field %}
            <div class="input-group datetime">
              <input type="text" name="date_added" value="{{ date_added }}" placeholder="{{ entry_date_added }}" data-date-format="YYYY-MM-DD HH:mm:ss" id="input-date-added" class="form-control" />
              <button type="button" class="btn btn-secondary"><i class="bi bi-calendar3"></i></button>
            </div>
          {% endset %}

          {{ form({type: 'content', content: date_added_field, label: entry_date_added, id: 'input-date-added', label_col: 2, input_col: 3}) }}

          {{ form({type: 'select', name: 'status', value: status, label: entry_status, id: 'input-status', options: [[1, 0], [text_enabled, text_disabled]]}) }}
        </form>
      </div>
    </div>
  </div>
  <script>
$('.datetime').datetimepicker({
  language: '{{ datepicker }}',
  pickDate: true,
  pickTime: true
});
  </script>
</div>
{{ footer }}
