{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="float-end">
        <button type="submit" form="form-section" data-bs-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="bi bi-floppy"></i></button>
        <a href="{{ cancel }}" data-bs-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-secondary"><i class="bi bi-arrow-left"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div role="alert" class="alert alert-danger alert-dismissible"><i class="bi bi-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    {% endif %}
    <div class="card">
      <div class="card-header">
        <h3 class="card-title mb-0"><i class="bi bi-pencil-square"></i> {{ text_form }}</h3>
      </div>
      <div class="card-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-section" class="form-horizontal">
          {{ form({type: 'text', name: 'name', value: name, label: entry_name, placeholder: entry_name, id: 'input-name', required: 1, error: error_name}) }}

          {% set code_help %}<small class="form-text text-muted">{{ help_code }}</small>{% endset %}

          {{ form({type: 'text', name: 'code', value: code, label: entry_code, placeholder: entry_code, id: 'input-code', required: 1, error: error_code, appendcontent: code_help}) }}

          {{ form({type: 'text', name: 'sort_order', value: sort_order, label: entry_sort_order, placeholder: entry_sort_order, id: 'input-sort-order'}) }}

          {{ form({type: 'select', name: 'status', value: status, label: entry_status, id: 'input-status', options: [[1, 0], [text_enabled, text_disabled]]}) }}

          {{ form({type: 'select', name: 'settings[icon]', value: setting_icon, label: entry_icon, id: 'input-icon', options: [icons|keys, icons|map(name => name)]}) }}

          {{ form({type: 'select', name: 'settings[category_template]', value: setting_category_template, label: entry_category_template, id: 'input-category-template', noselect: text_select, options: [category_templates|keys, category_templates|map(name => name)]}) }}

          {{ form({type: 'select', name: 'settings[page_template]', value: setting_page_template, label: entry_page_template, id: 'input-page-template', noselect: text_select, options: [page_templates|keys, page_templates|map(name => name)]}) }}
        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}
