{{ header }}
{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="float-end">
                <a href="{{ text_video_tutorial_url_install }}" target="_blank" class="btn btn-info" data-bs-toggle="tooltip" title="{{ button_video_tutorial_install }}"><i class="bi bi-camera-video"></i></a>
                <a href="{{ cancel }}" class="btn btn-secondary" data-bs-toggle="tooltip" title="{{ button_cancel }}"><i class="bi bi-arrow-left"></i></a>
            </div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {{ steps }}
        {% if success %}
            <div role="alert" class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-bs-dismiss="alert" aria-label="{{ text_close }}"><span aria-hidden="true"><i class="bi bi-x-lg"></i></span></button>
                <i class="bi bi-check-circle" aria-hidden="true"></i>&nbsp;{{ success }}
            </div>
        {% endif %}
        {% if error %}
            <div role="alert" class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-bs-dismiss="alert" aria-label="{{ text_close }}"><span aria-hidden="true"><i class="bi bi-x-lg"></i></span></button>
                <i class="bi bi-exclamation-triangle" aria-hidden="true"></i>&nbsp;{{ error }}
            </div>
        {% endif %}
        <div class="card">
            <div class="card-header">
                <h3 class="card-title mb-0"><i class="bi bi-person"></i>&nbsp;<span>{{ text_panel_heading_merchant }}</span></h3>
            </div>
            <div class="card-body">
                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form" class="form-horizontal">
                    <div class="form-group">
                        <p class="col-md-12">{{ text_merchant_intro }}</p>
                        <div class="col-md-12">
                            <label class="col-form-label"><input type="radio" name="advertise_google_gmc_account_type" value="api" {% if advertise_google_gmc_account_type == "api" %} checked {% endif %} /> {{ text_new_merchant }}</label>
                        </div>
                        <div class="col-md-12">
                            <label class="col-form-label"><input type="radio" name="advertise_google_gmc_account_type" value="existing" {% if advertise_google_gmc_account_type == "existing" %} checked {% endif %} /> {{ text_existing_merchant }}</label>
                        </div>
                    </div>

                    <div role="alert" class="alert alert-info text-left">
                        {{ text_merchant_website_claim }}
                        <hr />
                        <div class="checkbox">
                            <label><input type="checkbox" class="acknowledge" /> {{ text_acknowledge_merchant_tos }}</label>
                        </div>
                    </div>

                    <div class="float-end">
                        <button id="proceed" disabled type="submit" class="btn btn-primary">{{ button_proceed }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
(function($) {
    var selector = {
        acknowledge: '.acknowledge',
        save: '#proceed',
        form: '#form'
    }

    $(document).on('change', selector.acknowledge, function() {
        $(selector.save).attr('disabled', $(selector.acknowledge + ':not(:checked)').length > 0);
    });

    $(selector.acknowledge).trigger('change');

    $(document).on('click', selector.save, function(e) {
        e.preventDefault();
        e.stopPropagation();

        $(selector.save).text('{{ text_loading }}').attr('disabled', true);

        $(selector.form).submit();
    });
})(jQuery);
</script>
{{ footer }}