<!DOCTYPE html>
<html dir="{{ direction }}" lang="{{ lang }}">
<head>
<meta charset="UTF-8" />
<title>{{ title }}</title>
<base href="{{ base }}" />
{% if description %}
<meta name="description" content="{{ description }}" />
{% endif %}
{% if keywords %}
<meta name="keywords" content="{{ keywords }}" />
{% endif %}
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
<script src="view/javascript/vendor/jquery/jquery.min.js"></script>
<link href="view/javascript/vendor/bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
<link href="view/javascript/vendor/bootstrap-icons/font/bootstrap-icons.min.css" type="text/css" rel="stylesheet" />
<link href="view/javascript/vendor/flatpickr/flatpickr.min.css" type="text/css" rel="stylesheet" media="screen" />
<script src="view/javascript/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="view/javascript/vendor/flatpickr/flatpickr.min.js"></script>
<script src="view/javascript/vendor/flatpickr/l10n/ru.js"></script>
<link type="text/css" href="view/stylesheet/stylesheet.css" rel="stylesheet" media="screen" />
{% for style in styles %}
<link type="text/css" href="{{ style.href }}" rel="{{ style.rel }}" media="{{ style.media }}" />
{% endfor %}
{% for link in links %}
<link href="{{ link.href }}" rel="{{ link.rel }}" />
{% endfor %}
<script src="view/javascript/common.js" type="text/javascript"></script>
{% for script in scripts %}
<script src="{{ script }}"></script>
{% endfor %}
</head>
<body>
<div id="container">
<header id="header" class="navbar navbar-expand-lg align-items-center">
  <div class="container-fluid align-items-center">
    <div id="header-logo" class="navbar-header"><a href="{{ home }}" class="navbar-brand"><img src="view/image/logo.png" alt="{{ heading_title }}" title="{{ heading_title }}" /></a></div>
    {% if logged %}<a href="#" id="button-menu" class="d-md-none"><span class="bi bi-list"></span></a>
    <ul class="nav float-start">
      <li class="dropdown"><a class="dropdown-toggle" data-bs-toggle="dropdown"  title="{{ text_new }}"><i class="bi bi-plus-lg"></i> <span class="header-item">{{ text_new }}</span></a>
        <ul class="dropdown-menu dropdown-menu-left alerts-dropdown">
          <li><a href="{{ new_product }}" style="display: block; overflow: auto;">{{ text_new_product }}</a></li>
          <li><a href="{{ new_category }}" style="display: block; overflow: auto;">{{ text_new_category }}</a></li>
          <li><a href="{{ new_manufacturer }}" style="display: block; overflow: auto;">{{ text_new_manufacturer }}</a></li>
          <li><a href="{{ new_customer }}" style="display: block; overflow: auto;">{{ text_new_customer }}</a></li>
          <li><a href="{{ new_download }}" style="display: block; overflow: auto;">{{ text_new_download }}</a></li>
        </ul>
      </li>
    </ul>

    <div id="oc-search-div" class="col-sm-3 col-md-3 float-start">
      {{ search }}
    </div>
    <ul class="nav navbar-nav ms-auto">
      <li class="dropdown"><a href="#" class="dropdown-toggle" data-bs-toggle="dropdown"><img src="{{ image }}" alt="{{ firstname }} {{ lastname }}" title="{{ username }}" id="user-profile" class="rounded-circle" />{{ firstname }} {{ lastname }} <i class="bi bi-caret-down-fill"></i></a>
        <ul class="dropdown-menu dropdown-menu-right">
          <li><a href="{{ profile }}"><i class="bi bi-person-circle"></i> {{ text_profile }}</a></li>
          <li role="separator" class="divider"></li>
          <li class="dropdown-header">{{ text_store }}</li>
          {% for store in stores %}
          <li><a href="{{ store.href }}" target="_blank">{{ store.name }}</a></li>
          {% endfor %}
          <li role="separator" class="divider"></li>
          <li class="dropdown-header">{{ text_help }}</li>
          <li><a href="https://ocstore.com/?utm_source=ocstore3" target="_blank"><i class="bi bi-bag"></i> {{ text_homepage }}</a></li>
          <li><a href="https://docs.ocstore.com/?utm_source=ocstore3" target="_blank"><i class="bi bi-file-earmark-text"></i> {{ text_documentation }}</a></li>
          <li><a href="https://opencartforum.com/?utm_source=ocstore3" target="_blank"><i class="bi bi-chat-dots"></i> {{ text_support }}</a></li>
        </ul>
      </li>
      <li><a href="{{ logout }}"><i class="bi bi-box-arrow-right"></i> <span class="d-none d-lg-inline">{{ text_logout }}</span></a></li>
    </ul>
    {% endif %}</div>
</header>
