<div class="tile tile-primary">
  <div class="tile-heading">{{ heading_title }} <span class="float-end">
    {% if percentage > 0 %}
    <i class="bi bi-caret-up-fill"></i>
    {% elseif percentage < 0 %}
    <i class="bi bi-caret-down-fill"></i>
    {% endif %}
    {{ percentage }}%</span></div>
  <div class="tile-body"><i class="bi bi-person"></i>
    <h2 class="float-end">{{ total }}</h2>
  </div>
  <div class="tile-footer"><a href="{{ customer }}">{{ text_view }}</a></div>
</div>
